{% extends 'base.html.twig' %}

{% block title %}BidCardCoin{% endblock %}

{% block body %}
<h1>BidCardCoin</h1>
<table class="table">
    <tr>
        <th>Titre</th>
        <th>Description</th>
        <th></th>
    </tr>
{% endblock %}